
<footer class="footer" >
  <div class="container-fluid">
    <nav>
      <ul>
        <li>
          <a href="https://www.e-access.att.com/hronestop">
            HR Onestop
          </a>
        </li>
        <li>
          <a href="https://www.creative-tim.com/about-us">
            About Us
          </a>
        </li>
        <li>
          <a href="https://mingle-portal.inforcloudsuite.com/ATT_PRD/51dc1476-197e-4614-9ce0-448ec8f899f8?favoriteContext=dashboard&LogicalId=lid://infor.wfm-mob.03">
            Infor
          </a>
        </li>
      </ul>
    </nav>
  </div>
</footer>
